@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

html {
  font-family: 'Yusei Magic', sans-serif;
}
html{
  width:100%;
  max-width: 780px;
  height:100%;
}
body,#root,#app{
  width:inherit;
  height:inherit;
}
img{
  max-width: 780px;
}
#controller{
  position: relative;
  top:70%;
  height:30%;
  width:100%;
}
.messageBoxContext{
  font-size:16px;
}

#front{
  position: fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  height:100%;
  width:100%;
  background:rgba(45, 52, 54,0.8);
  z-index:1000;
  padding:30% 15px;
}
._title{
  color:white;
  font-size:30px;
  font-weight:bold;
}
.text-center{
  text-align: center;
}
.endBtnWrap{
  position:absolute;
  bottom:50px;
  right:0;
  left:0;
}
#topText{
  position: absolute;
}
